<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.kj46554" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jakub 46554</name>
    <description>Weather App</description>
    <author email="kj46554@zut.edu.pl" href="https://wi.zut.edu.pl">
        Jakub Kosiński
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Platform Configs & Platform Overriding Configs -->
    <platform name="electron">
        <icon src="res/electron/cloud-sun.png" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
</widget>